firmware/pico_w/micro_ros_ws/build/
firmware/pico_w/micro_ros_ws/src/.github
firmware/pico_w/micro_ros_ws/src/.images
firmware/pico_w/micro_ros_ws/src/libmicroros
firmware/pico_w/micro_ros_ws/src/microros_static_library

software/ros2_ws/build/
software/ros2_ws/install/
software/ros2_ws/log/
.DS_Store
DEV_CHEATSHEET.txt
