<?xml version="1.0"?>
<robot name="my_tank">

<!-- ================================================ -->
<!--                   BASE LINK                      -->
<!-- ================================================ -->

    <link name="base_link">
        <visual>
        <origin xyz="0 0 0" rpy="3.14 0 1.57"/>
        <geometry>
            <mesh filename="package://tank_description/meshes/new_chassis.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="black">
            <color rgba="0.025 0.025 0.025 1.0"/>
        </material>
        </visual>

        <collision>
            <origin xyz="0.0115 0 0.004" rpy="0 0 0"/>
            <geometry>
                <box size="0.1833 0.1776 0.0423"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0.0115 0 0.004" rpy="0 0 0"/>
            <mass value="1.02"/>
            <inertia
                ixx="0.00283" ixy="0.0" ixz="0.0"
                iyy="0.00301" iyz="0.0" izz="0.00554"/>
        </inertial>
    </link>


<!-- ================================================ -->
<!--                    IMU LINK                      -->
<!-- ================================================ -->

    <link name="imu_link"/>
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0.00 0 0.078" rpy="0 0 3.14159"/>  <!-- IMU is physically mounted 180° rotated -->
    </joint>




<!-- ================================================ -->
<!--     CHASSIS → PLATFORM STANDOFFS (4 per side)    -->
<!-- ================================================ -->

<!-- ============== LEFT ================== -->

    <link name="standoff_l2">
        <visual>
        <geometry><cylinder radius="0.0025" length="0.05"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="standoff_l2_joint" type="fixed">
        <parent link="base_link"/>
        <child link="standoff_l2"/>
        <origin xyz="-0.067 0.044 0.057"/>
    </joint>

    <link name="standoff_l1">
        <visual>
        <geometry><cylinder radius="0.0025" length="0.05"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="standoff_l1_joint" type="fixed">
        <parent link="base_link"/>
        <child link="standoff_l1"/>
        <origin xyz="0.015 0.044 0.057"/>

    </joint>

        <link name="standoff_l3">
        <visual>
        <geometry><cylinder radius="0.0025" length="0.05"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="standoff_l3_joint" type="fixed">
        <parent link="base_link"/>
        <child link="standoff_l3"/>
        <origin xyz="0.071 0.044 0.057"/>
    </joint>


<!-- ============== RIGHT ================== -->

    <link name="standoff_r2">
        <visual>
        <geometry><cylinder radius="0.0025" length="0.05"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="standoff_r2_joint" type="fixed">
        <parent link="base_link"/>
        <child link="standoff_r2"/>
        <origin xyz="-0.067 -0.044 0.057"/>
    </joint>

    <link name="standoff_r1">
        <visual>
        <geometry><cylinder radius="0.0025" length="0.05"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="standoff_r1_joint" type="fixed">
        <parent link="base_link"/>
        <child link="standoff_r1"/>
        <origin xyz="0.015 -0.044 0.057"/>

    </joint>

        <link name="standoff_r3">
        <visual>
        <geometry><cylinder radius="0.0025" length="0.05"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="standoff_r3_joint" type="fixed">
        <parent link="base_link"/>
        <child link="standoff_r3"/>
        <origin xyz="0.071 -0.044 0.057"/>
    </joint>



    <!-- ================================================ -->
    <!--                    PLATFORM                      -->
    <!-- ================================================ -->
    <link name="platform">
        <visual>
        <geometry>
            <box size="0.2 0.152 0.002"/>
        </geometry>
        <material name="black">
            <color rgba="0.04 0.04 0.04 1.0"/>
        </material>
        </visual>
    </link>
    <joint name="platform_joint" type="fixed">
        <parent link="base_link"/>
        <child link="platform"/>
        <origin xyz="0 0 0.082"/>
    </joint>



    <!-- ================================================ -->
    <!--      PLATFORM → LIDAR STANDOFFS (4 corners)      -->
    <!-- ================================================ -->
    <link name="lidar_standoff_fl">
        <visual>
        <geometry><cylinder radius="0.002" length="0.026"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="lidar_standoff_fl_joint" type="fixed">
        <parent link="platform"/>
        <child link="lidar_standoff_fl"/>
        <origin xyz="0.072 0.032 0.015"/>
    </joint>

    <link name="lidar_standoff_fr">
        <visual>
        <geometry><cylinder radius="0.002" length="0.026"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="lidar_standoff_fr_joint" type="fixed">
        <parent link="platform"/>
        <child link="lidar_standoff_fr"/>
        <origin xyz="0.072 -0.032 0.015"/>
    </joint>

    <link name="lidar_standoff_rl">
        <visual>
        <geometry><cylinder radius="0.002" length="0.026"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="lidar_standoff_rl_joint" type="fixed">
        <parent link="platform"/>
        <child link="lidar_standoff_rl"/>
        <origin xyz="0.015 0.025 0.015"/>
    </joint>

    <link name="lidar_standoff_rr">
        <visual>
        <geometry><cylinder radius="0.002" length="0.026"/></geometry>
        <material name="silver"><color rgba="0.15 0.15 0.15 1.0"/></material>
        </visual>
    </link>
    <joint name="lidar_standoff_rr_joint" type="fixed">
        <parent link="platform"/>
        <child link="lidar_standoff_rr"/>
        <origin xyz="0.015 -0.025 0.015"/>
    </joint>



<!-- ================================================ -->
<!--                     LIDAR                        -->
<!-- ================================================ -->

    <link name="lidar_link">
        <visual>
        <origin xyz="0.00 0 0" rpy="0 0 3.1416"/>
        <geometry>
            <mesh filename="package://tank_description/meshes/ydlidar_x3pro.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blue">
            <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
        </visual>
    </link>
    <joint name="lidar_joint" type="fixed">
        <parent link="platform"/>
        <child link="lidar_link"/>
        <origin xyz="0.05 0 0.03"/>
    </joint>




<!-- ================================================ -->
<!--                  DRIVE WHEELS                    -->
<!-- ================================================ -->

<!-- ============== LEFT ================== -->
<link name="left_drive">
    <visual>
    <geometry>
        <cylinder radius="0.019" length="0.023"/>
    </geometry>
    <material name="light_grey">
        <color rgba="0.15 0.15 0.15 1.0"/>
    </material>
    </visual>
    <collision>
        <geometry><cylinder radius="0.019" length="0.023"/></geometry>
    </collision>
    <inertial>
        <mass value="0.05"/>
        <inertia
            ixx="0.000016" ixy="0.0" ixz="0.0"
            iyy="0.000016" iyz="0.0" izz="0.000016"/>
    </inertial>
</link>
<joint name="left_drive_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_drive"/>
    <origin xyz="-0.0579 0.068 0.001" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
</joint>


<!-- ============== RIGHT ================== -->
<link name="right_drive">
    <visual>
    <geometry>
        <cylinder radius="0.019" length="0.023"/>
    </geometry>
    <material name="light_grey">
        <color rgba="0.15 0.15 0.15 1.0"/>
    </material>
    </visual>
    <collision>
        <geometry><cylinder radius="0.019" length="0.023"/></geometry>
    </collision>
    <inertial>
        <mass value="0.05"/>
        <inertia
            ixx="0.000016" ixy="0.0" ixz="0.0"
            iyy="0.000016" iyz="0.0" izz="0.000016"/>
    </inertial>
</link>
<joint name="right_drive_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_drive"/>
    <origin xyz="0.058 -0.068 0.001" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
</joint>



<!-- ================================================ -->
<!--                 BEARING WHEELS                   -->
<!-- ================================================ -->

<!-- ============== LEFT ================== -->
<link name="left_bearing">
    <visual>
    <geometry>
        <cylinder radius="0.019" length="0.023"/>
    </geometry>
    <material name="light_grey">
        <color rgba="0.15 0.15 0.15 1.0"/>
    </material>
    </visual>
    <collision>
        <geometry><cylinder radius="0.019" length="0.023"/></geometry>
    </collision>
    <inertial>
        <mass value="0.05"/>
        <inertia
            ixx="0.000016" ixy="0.0" ixz="0.0"
            iyy="0.000016" iyz="0.0" izz="0.000016"/>
    </inertial>
</link>
<joint name="left_bearing_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_bearing"/>
    <origin xyz="0.058 0.0686 0.001" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
</joint>

<!-- ============== RIGHT ================== -->
<link name="right_bearing">
    <visual>
    <geometry>
        <cylinder radius="0.019" length="0.023"/>
    </geometry>
    <material name="light_grey">
        <color rgba="0.15 0.15 0.15 1.0"/>
    </material>
    </visual>
    <collision>
        <geometry><cylinder radius="0.019" length="0.023"/></geometry>
    </collision>
    <inertial>
        <mass value="0.05"/>
        <inertia
            ixx="0.000016" ixy="0.0" ixz="0.0"
            iyy="0.000016" iyz="0.0" izz="0.000016"/>
    </inertial>
</link>
<joint name="right_bearing_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_bearing"/>
    <origin xyz="-0.058 -0.069 0.001" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
</joint>



<!-- ================================================ -->
<!--              ULTRASONIC SENSORS                  -->
<!-- ================================================ -->

<!-- ============== LEFT ================== -->
<link name="ultrasonic_left_link">
    <visual>
        <origin xyz="0 0 0" rpy="4.7124 0 0"/>
        <geometry>
            <mesh filename="package://tank_description/meshes/ultrasonic_sensor.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark">
            <color rgba="1 1 1 1.0"/>
        </material>
    </visual>
</link>
<joint name="ultrasonic_left_joint" type="fixed">
    <parent link="base_link"/>
    <child link="ultrasonic_left_link"/>
    <origin xyz="0.01 0.05 0.042" rpy="0 0 0"/>
</joint>


<!-- ============== RIGHT ================== -->
<link name="ultrasonic_right_link">
    <visual>
        <origin xyz="0 0 0" rpy="4.7124 0 0"/>
        <geometry>
            <mesh filename="package://tank_description/meshes/ultrasonic_sensor.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark">
            <color rgba="1 1 1 1.0"/>
        </material>
    </visual>
</link>
<joint name="ultrasonic_right_joint" type="fixed">
    <parent link="base_link"/>
    <child link="ultrasonic_right_link"/>
    <origin xyz="0.01 -0.05 0.042" rpy="0 0 3.1416"/>
</joint>


<!-- ============== BACK ================== -->
<link name="ultrasonic_back_link">
    <visual>
        <origin xyz="0 0 0" rpy="4.7124 0 0"/>
        <geometry>
            <mesh filename="package://tank_description/meshes/ultrasonic_sensor.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark">
            <color rgba="1 1 1 1.0"/>
        </material>
    </visual>
</link>
<joint name="ultrasonic_back_joint" type="fixed">
    <parent link="base_link"/>
    <child link="ultrasonic_back_link"/>
    <origin xyz="-0.085 0.0 0.012" rpy="0 0 1.5708"/>
</joint>

<!-- ============== FRONT ================== -->
<link name="ultrasonic_front_link">
    <visual>
        <origin xyz="0 0 0" rpy="4.7124 0 0"/>
        <geometry>
            <mesh filename="package://tank_description/meshes/ultrasonic_sensor.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark">
            <color rgba="1 1 1 1.0"/>
        </material>
    </visual>
</link>
<joint name="ultrasonic_front_joint" type="fixed">
    <parent link="base_link"/>
    <child link="ultrasonic_front_link"/>
    <origin xyz="0.08 0.0 0.042" rpy="0 0 -1.5708"/>
</joint>








</robot>